.layout {
    display: flex;
    min-height: 300px;
}

.sidebar {
    width: 200px;
    padding: 15px;
    background-color: aqua;
    border-radius: 15px;
    margin-left: 10px;
    margin: 20px;
}

.content {
    padding: 20px;
    background-color: #ffdc9b;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
    flex: 1;
    margin: 20px;
}

.content h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 10px 0;
}

.content img {
    max-width: 300px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: rgb(233, 146, 120);
    padding: 15px;
    text-align: center;
    flex: 1 1 200px;
    max-width: 250px;
    border-radius: 5%;
}

@media (max-width: 900px) {

    /* Layout vira coluna */
    .layout {
        flex-direction: column;
    }

    /* Sidebar ocupa largura toda */
    .sidebar {
        width: auto;
        margin: 10px;
    }

    /* Content ajusta margem */
    .content {
        margin: 10px;
    }
}