.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgray;
    color: black;
    padding: 20px;
    margin-top: 15px;
}

.footer p{
    color: black;
}

@media (max-width: 700px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}