.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
    background-color: darkgrey;
    color: black;
}

.logo {
    font-size: 25px;
}

.menu {
    display: flex;
    gap: 15px;
    padding-right: 5px;
}

.menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.menu a:hover {
    text-decoration: underline;
    color: blue;
}

.ativo {
    font-weight: bold;
    border-bottom: 2px solid blue;
    color: blue;
}

@media (max-width: 700px) {
    .nav {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .menu a {
        padding: 5px;
    }
}