<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - Brasil Encantado</title>
    <link rel="stylesheet" href="/ProvaP1/static/css/header.css">
    <link rel="stylesheet" href="/ProvaP1/static/css/footer.css">
    <link rel="stylesheet" href="/ProvaP1/static/css/style.css">
    <link rel="stylesheet" href="/ProvaP1/static/css/contato.css">
</head>

<body>

    <header class="nav">
        <div class="logo">Brasil Encantado</div>
        <nav class="menu">
            <a href="index.html">Início</a>
            <a href="destinos.html">Destinos</a>
            <a href="gastronomia.html">Gastronomia</a>
            <a href="contato.html" class="ativo">Contato</a>
        </nav>
    </header>

    <main>
        <div class="container">
            <form>
                <h2>Contato</h2>

                <div class="row">
                    <div class="field">
                        <label>Nome</label>
                        <input type="text" placeholder="Digite seu nome">
                    </div>

                    <div class="field">
                        <label>Email</label>
                        <input type="email" placeholder="Digite seu email">
                    </div>
                </div>

                <div class="field">
                    <label>Mensagem</label>
                    <textarea rows="4"></textarea>
                </div>

                <div class="actions">
                    <button type="reset" class="reset">Limpar</button>
                    <button type="submit" class="submit">Enviar</button>
                </div>
            </form>
        </div>
    </main>

    <!-- RODAPÉ -->
    <footer class="footer">
        <p>© 2026 Brasil encantado - Todos os direitos reservados</p>
        <p>Feito por Otávio Esboriol da Silva e Guilherme Colletti da Silva</p>
    </footer>

</body>
</html>