<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinos - Brasil Encantado</title>
    <link rel="stylesheet" href="/ProvaP1/static/css/header.css">
    <link rel="stylesheet" href="/ProvaP1/static/css/footer.css">
    <link rel="stylesheet" href="/ProvaP1/static/css/style.css">
    <link rel="stylesheet" href="/ProvaP1/static/css/destinos.css">
</head>

<body>

    <header class="nav">
        <div class="logo">Brasil Encantado</div>
        <nav class="menu">
            <a href="index.html">Início</a>
            <a href="destinos.html" class="ativo">Destinos</a>
            <a href="gastronomia.html">Gastronomia</a>
            <a href="contato.html">Contato</a>
        </nav>
    </header>

    <section class="layout">

        <aside class="sidebar">
            <h3>Estados</h3>
            <ul>
                <li>Maranhão (MA)</li>
                <li>Pernambuco (PE)</li>
                <li>Ceará (CE)</li>
                <li>Bahia (BA)</li>
                <li>Mato Grosso do Sul (MS)</li>
                <li>Santa Catarina (SC)</li>
            </ul>
        </aside>

        <main class="content">
            <h2>Destinos Principais</h2>

            <div class="cards">
                <div class="card">
                    <img src="https://images.openai.com/static-rsc-4/VuKNGIcYpV5kElk1nZXqDRQR8fMlSbwL1NduN1UK69ipyYF39GTE16TWV1kSKh2gXK94j4XF2U33NAkVnh4rFzQ7I-OR2jh3iFZLU3M5XqaL0d1gED69Zll7cJ1HWbTYMSCMfq5xEWtR9IjRylfs9rdu2FoabIaAOQMs8H5Mis4?purpose=inline" alt="Paisagem Fernando de Noronha">
                    <h3>Fernando de Noronha</h3>
                    <p>Estado: PE</p>
                </div>
                <div class="card">
                    <img src="https://images.openai.com/static-rsc-4/n0eyyP6ZBjuIn7hmqc2jZjbBiatj3po5RCLYX0SRyM_WBw4l-0N-UFSNOCwVogtUttrQJVx0yO9jWMrqsqtkB5Ij-HMGrQPny0JRvJNtFNxdMceWpEjEjkDy4Cfpskg5tofNgAJP9sQsjUhd5g1oguUtXajSMn0L3PrKpR5UsGbFezuNe9_sP99NP8-QjgbK?purpose=inline" alt="Paisagem Lençois Maranhenses">
                    <h3>Lençois Maranhenses</h3>
                    <p>Estado: MA</p>
                </div>
                <div class="card destaque">
                    <img src="https://images.openai.com/static-rsc-4/B0XKgth7yvgqZm3cqJSAu_Nq16NXXun8WB8O1vvTg3uTD2YzElB_FBN8a8TMXETJKh_eSkSKO81gk1ZF43wzLwOry1aoek0AyHcgSRNwjGbxBRmaGmjbJPR8mx3ojaRG8F7zp-aFK0lgFfDTVc3HJ9BBaCvSiZGlQKm3KY_I7VA?purpose=inline" alt="Paisagem Jericoacoara">
                    <h3>Jericoacoara</h3>
                    <p>Estado: CA</p>
                </div>
                <div class="card">
                    <img src="https://images.openai.com/static-rsc-4/C9SGdm86Zdu2l0XPgDvIoHbHE8QnkwGNZ1VRXVl2sFZrJwmpcuTPrjjjxPiy-bwd2b7XONOn9ZS9gKH3H_PAXD37m7K9NY0GjvqpnB83Pt9wJZOitWia6UimIHS785-ELlo47t6EAPdQbgVCyI9sSUcaPGnpUGjNE1yfL93b4Oc?purpose=inline" alt="Paisagem Chapada Diamantina">
                    <h3>Chapada Diamantina</h3>
                    <p>Estado: BA</p>
                </div>
                <div class="card">
                    <img src="https://images.openai.com/static-rsc-4/sC7DLgzbpPxy-SgeRXyLe9nQh2n6EUOH5wZqss2zhIXYnAQu9ow6c3PLezTTD6etASmgi0IpQMwFE77NncezhAy8fj5sg3DOLcwzmelg5-tHc_rH_HGE2RT5Vvj3xDDxN0W7uroki0ROephyxBHJ6GHkHhh5HSE5utrlolf8wh0?purpose=inline" alt="Paisagem Bonito">
                    <h3>Bonito</h3>
                    <p>Estado: MS</p>
                </div>
                <div class="card">
                    <img src="https://images.openai.com/static-rsc-4/ycNOuSLh4sVJ7n7Uc7oRcwlTiRksVTmAqAyQMsgqkXeQvgywhpg9bffl736el25mkf8lziV_m9NjRqa_YBD71maiqVf1D6W9Sh2lYQfmTYK42cc1IuM0Jn3zObjZ_QKOfbMdUF7Y0aq5aIETZH6a4OmkTascjKsYPCENmGLy6p8?purpose=inline" alt="Paisagem Florianópolis">
                    <h3>Florianópolis</h3>
                    <p>Estado: SC</p>
                </div>
            </div>

        </main>

    </section>

    <!-- RODAPÉ -->
    <footer class="footer">
        <p>© 2026 Brasil encantado - Todos os direitos reservados</p>
        <p>Feito por Otávio Esboriol da Silva e Guilherme Colletti da Silva</p>
    </footer>

</body>
</html>